@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

$white: #fff;
$dark_grey: #484848;
$regent_st_blue: #00bcd4;
$light_grey: #ced4da;
$basic_font: 'Open Sans', sans-serif;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: $basic_font;
}

.templates-container {
  width: 500px;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 15px;

  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

.template {
  &__column {
    border: 1px solid $light_grey;
    height: 50px;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    border-bottom: 1px solid $dark_grey;
    padding-bottom: 3px;
    color: $dark_grey;

    &:hover {
      border: none;
      color: $regent_st_blue;
    }
  }
}

.editable.active {
  color: $regent_st_blue;
}

.editable:hover {
  cursor: pointer;
}

.edit-container {
  padding-left: 10px;
  margin: 15px 0;
}

.edit-field {
  height: 30px;
  width: 200px;
  margin-right: 10px;
  padding: 2px 5px;
  background-color: #f2f2f2;
  border: 1px solid $light-grey;
  margin: 15px 10px 20px 0;
}

.btn {
  width: 150px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid $light-grey;
  margin-right: 10px;
  color: $white;
}

.btn-save {
  background-color: #24ce24;
}

.btn-cancel {
  background-color: $regent_st_blue;
}

.header {
  background-color: $regent_st_blue;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  color: $white;

  &__caption {

  }
}

.template-caption {
  color: #222;
  text-align: center;
}

.date {
  font-weight: 700;
  color: #333;
}